/roles/system/files/go*.tar.gz
/roles/system/files/ripgrep*
/roles/system/files/tmp_downloads
!/roles/system/files/tmp_downloads/.gitkeep
/roles/texlive/files/debian-equivs-*.txt
/roles/texlive/files/install-tl-unx.tar.gz
/roles/ubuntu_packages/files/tmp_downloads
!/roles/ubuntu_packages/files/tmp_downloads/.gitkeep
